* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
}

#wrapper {
	width: 360px;
	margin-left: -180px;
	margin-top: 200px;
	height: 310px;
	margin-top: -155px;
	left: 50%;
	top: 50%;
	position: absolute;
	color: #000;
}

#wrapper h1 {
	font-size: 25px;
}

#wrapper #avatar {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	display: block;
	margin: 0 auto;
}

#wrapper #profile {
	width: 330px;
	font-size: 14px;
	text-align: center;
	margin: 20px auto 0 auto;
}

#wrapper #profile a {
	text-decoration: none;
	color: #c65d62;
}

@media only screen and (max-width: 450px) {
	#wrapper {
		width: 300px;
		margin-top: -150px;
		margin-left: -150px;
		text-align: center;
		width: 280px;			
	}

	#wrapper #avatar {
		width: 180px;
		height: 180px;
		border-radius: 90px;
	}

	#wrapper #profile {
		width: 280px;
		margin-top: 30px;
		text-align: center;
		margin-left: 0;
	} 
}